<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 profile">
            <img class="profilePic" src="https://api.adorable.io/avatars/200/{{userService.currentUser.name }}.png" alt="Kittens" class="img-responsive">
            <h1>{{ userService.currentUser.name }}</h1>
            <hr>
            <h3>Change Password</h3>
            <form>
                <div class="form-group changePassword">
                    <label for="newPassword">New Password</label>
                    <input type="password" id="newPassword" class="form-control"
                           ng-model="passwords.newPassword">
                </div>
                <div class="form-group">
                    <label for="newPasswordRepeat">Repeat New Password</label>
                    <input type="password" id="newPasswordRepeat" class="form-control"
                           ng-model="passwords.newPasswordRepeat">
                </div>
                <button class="btn btn-primary" ng-click="changePassword(passwords)">Change Password</button>
            </form>
        </div>


        <div class="col-md-7 col-md-offset-1">
            <uib-tabset active="active">
                <uib-tab index="0" heading="Posts">
                    <div class="row tabContent">
                        <div class="cards col-sm-6 col-md-4 col-lg-3" ng-repeat="item in items">
                            <div class="card card-inverse card-success">
                                <img class="card-img-top img-responsive"
                                     ng-src="{{item.photos[0]}}">
                                <!--<row>-->
                                    <!--<div class="col-xs-4 col-xs-offset-4 item-price">${{item.price}}</div>-->

                                <!--</row>-->
                                <div class="card-block">
                                    <!--<figure class="itemImage">-->
                                        <img ng-src="https://api.adorable.io/avatars/50/{{userService.currentUser.name }}.png"
                                             class="profile-avatar" alt="https://api.adorable.io/avatars/50/{{userService.currentUser.name }}.png">
                                    <!--</figure>-->
                                    <ul>
                                        <li><h4 class="card-title">{{item.title}}</h4></li>
                                        <div class="meta card-text">
                                            <li><a>{{item.condition}}</a></li>
                                        </div>
                                        <div class="card-text">
                                            <li><p>{{item.description}}</p></li>
                                        </div>
                                    </ul>
                                </div>
                                <div class="card-footer">
                                    <small>Last updated 3 mins ago</small>
                                    <button class="btn btn-info float-right btn-sm" ng-click="editBox = !editBox">
                                        Edit
                                    </button>
                                    <button class="btn btn-warning float-right btn-sm"
                                            ng-click="delete($index,item._id)">Delete
                                    </button>
                                </div>
                            </div>

                            <div ng-show="editBox">
                                <form>
                                    <input type="" placehoder="Category" ng-model="item.type">
                                    <input type="" placehoder="Age Range" ng-model="item.ageRange">
                                    <input type="text" placehoder="Title" ng-model="item.title">
                                    <input type="file" placehoder="Photo" ng-model="item.photo">
                                    <input type="text" placehoder="Description" ng-model="item.description">
                                    <input type="" placehoder="Condition" ng-model="item.condition">
                                    <button ng-click="edit($index, item); editBox = !editBox">Edit</button>
                                </form>
                            </div>
                        </div>
                    </div>

                </uib-tab>
                <uib-tab index="1" heading="Favorites">
                    <div class="card" ng-repeat="item in favorites">
                        <div class="item item-text-wrap">
                            {{item.photo}}
                            <h3>{{ item.title}}</h3>
                            <p>{{ item.description }}</p>
                            <button class="btn btn-sm btn-warning" ng-click="deleteFavorite($index,item._id)">Delete</button>
                        </div>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</div>



